header{
  
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('../../picture/hero.jpg');
    background-size:cover;
   
  }
  .header-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }

  h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 200%;
    letter-spacing: 1px;
    word-spacing: 4px;
  }
  .btn:link,
  .btn:visited {
      display: inline-block;
      padding: 10px 30px;
      font-weight:300;
      border-radius: 200px;
      text-decoration: none;
      letter-spacing: 1px;
      word-spacing: 4px;
      margin-right: 20px;
  }

  .btn:hover,
  .btn:active{
    background-color: #cf6d17;
  }

  .btn-left-button:link,
  .btn-left-button:visited{
      background-color: #e67e22;
      border: 1px solid #e67e22;
      color: #fff;
  }


  .btn-right-button:link,
  .btn-right-button:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-right-button:hover,
  .btn-right-button:active{
   color: white;
}

.btn-left-button:hover,
  .btn-left-button:active{
   background-color: #cc6810;
}